=> MY plan: I want to build a drag and drop cv maker fully customaizable.  features of this cv maker
1. 3 cv tamplate.
2. in the first part of the cv have name, email, contact number, github, linkdin, and if user want to add another some thing the can add.
3. Than skills, exprience, achievement, education, softskills, project add this section. if user want user can add or remove section.
4.every section have to option Bold text or pragraph text . user can add up to users choise.